# requirements.in
axolotl[all]==0.9.0
autoawq==0.2.7.post3
torch>=2.6.0,<2.7.0       # or torch==2.6.0+cu118 if you need CUDA 11.8
triton>=3.0.0
numpy>=1.24.4,<2.0.1
typing_extensions>=4.12.2
fsspec>=2023.5.0